* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:antiquewhite;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;

}
.contenedorBusqueda{
    text-align: center;
    margin-top: 70px;
}

.ctrl{
    margin-top:40px;
    margin-bottom: 40px;
}

#btnBuscar{
    background-color:aqua;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
#btnLimpiar{
    background-color: red;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
#inpID{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: lemonchiffon;
}
.contenedorInformacion{
    text-align: center;
    margin-top: 10px;
}